@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playwrite+MX+Guides&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playwrite+MX+Guides&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playwrite+MX+Guides&display=swap');

body{
    padding: 0;
    margin: 0;
    
}
body::-webkit-scrollbar {
    width: 8px;
    border-radius: 20%;               /* width of the entire scrollbar */
  }
  
  body::-webkit-scrollbar-track {
    background: rgb(255, 192, 203);        /* color of the tracking area */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: rgb(190, 190, 234);    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
   
}
  
#logo h1{
    color: #fa66a7;
    letter-spacing: 2px;
    font-size: 55px;
    margin-left: 20px;
    font-family: "Great vibes", serif;
  font-weight: 100;
  font-style: italic;
}
#link{
    align-items: center;
}
#link a{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-decoration: none;
    letter-spacing: 2px;
    margin-left: 20px;
    position: relative;
    
}
#link a::after{
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: black;
    bottom: -30%;
    transition: .2s linear;
    left: 0;
    
}
#link a:hover::after{
    width: 100%;
}
#link span{
    cursor: pointer;
    margin-left: 10px;
    display: none;
}

#logo{
    padding: 10px;
    
}

#logo img{
    width: 70px;
}
header{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0;
    top: 0;
    overflow: hidden;
}
#texto{
    background-color: #f4bad3;
    padding: 50px 10px 0px 150px;
    width: 50%;
    height: 100vh;

}
#texto h1{
    color: rgb(53, 53, 53);
    letter-spacing: 2px;
    font-size: 35px;
    font-family: "Kanit", sans-serif;
  font-weight: 900;
  font-style: normal;
}
#texto h3{
    font-family: "Playwrite MX Guides", cursive;
    font-weight: 400;
    font-style: normal;
}
#mobila{
    
    width: 50%;
    height: 100vh;
    padding-bottom: 50px;
    background-color: #F6F4F6;
}
#lampada{
    position: absolute;
    left: 30%;
    top: 0;
}
#ponta{
    width: 2px;
    height: 100px;
    background-color: rgb(186, 79, 232);
    z-index: 3;
}
#ponta::before{
    content: "";
    position: absolute;
    top: 0%;
    width:2px;
    height: 10px;
    background-color: skyblue;
    
}
#cima{
    z-index: 2;
    top: 90%;
    left: -700%;
    position: absolute;
    width: 30px;
    height: 20px;
    background-color: rgb(180, 25, 246);
    border-radius: 70% 70% 10% 10%;
}
#bocal{
    position: absolute;
    width: 80px;
    height: 60px;
    background-color: rgb(186, 79, 232);
    border-radius: 70% 70% 10% 10%;
    right:-1955%;
    cursor: pointer;
    z-index: 10;
}
#bocal::before{
    content: "";
    position: absolute;
    width: 90px;
    height: 10px;
    background-color: skyblue;
    bottom: 0;
    left: -6%;
    border-radius: 10px;
}

#luz{
    cursor: pointer;
    width: 40px;
    height: 50px;
    background-color: gray;
    border-radius: 50%;
    position: absolute;
    
    left: -920%;
    top: 130%;
    transition: background-color 0.5s;
}
#acender{
    display: none;
    position: absolute;
    background-color: transparent;
    border: 200px solid transparent;
    
    left: -9900%;
    top: -130%;
    border-bottom: 700px solid rgba(255, 230, 184, 0.416);
    
   
}

.flash {
    animation: flash-animation 0.5s infinite alternate;
  }
  
  @keyframes flash-animation {
    from {
      opacity: 1;
    }
    to {
      opacity: 0.3;
    }
  }
#mobila.dark {
    background-color: #333; /* Cor escura para o modo escuro */
}
#bocal.dark + #mobila{
    background-color: black;
}
#bocal.ativa + #luz {
    background-color: rgb(223, 223, 223);
}

#acender.ligando{
    animation: acender 1s linear ease-in;
    transition: background-color 0.5s;
    display: block;
}
#texto.color{
    background-color: #774069;
    color: white;
}
#texto.color h1{
    color: white;
}
#texto.color a{
    color: white;
}
.moldura{
    width: 200px;
    height: 250px;
    border-radius: 8px;
    position: absolute;
    background-color: #351a00;
   padding:8px;
    bottom: 20%;
    left: 30%;
    
}
#m1{
    position: absolute;
    left: 18%;
    bottom: 30%;
    width: 90px;
    height: 120px;

}
#m1::before{
    display: none;
}
#m1::after{
    display: none;
}


.moldura::before{
    
    content: "";
    position: absolute;
    background-color: rgb(210, 210, 210);
    width: 85px;
    height: 5px;
    rotate: 132deg;
    top: -12%;
    left: 20%;

    
}

.moldura::after{
    background-color: rgb(210, 210, 210);
    content: "";
    position: absolute;
    width: 85px;
    height: 5px;
    rotate: 50deg;
    top: -12%;
    left: 45%;
}
.prego{
    position: absolute;
    bottom: 62%;
    z-index: 1000;
    left: 39.6%;
    width: 10px;
    height: 10px ;
    background-color: black;
    border-radius: 50%;

}
.moldura img{
    width: 100%;
    height: 100%;
    transition-duration: .5s;
}

#mesa, #mesaL{
    position: absolute;
    width: 340px;
    height: 10px;
    bottom: 26.5%;
    left: 20%;
    background-color: rgb(59, 59, 59);
    border-radius: 20px;
    z-index: 2;
    
}

#mesaL{
    background-color: #3f3f3f;
    top: 50%;
    width: 150px;
    height: 7px;
    left: 3%;
}
.livro{
    width: 25px;
    height: 80px;
    background-color: rgb(248, 166, 180);
    position: absolute;
    top: 39%;
    left: 15%;
    
}

.l2{
    background-color: skyblue;
    height: 60px;
    width: 20px;
    left: 13%;
    top: 42%;
}
.l1::before{
    content: "";
    width: 25px;
    height: 10px;
    background-color: rgb(246, 124, 144);
    position: absolute;
    top: 20%;
}
.cacete{
    position: absolute;
    width: 15px;
    height: 60px;
    background-color: rgb(213, 211, 211);
    border: 1px solid aqua;
    left: 10.5%;
    transform: rotate(20deg);
    top: 41%;
}
.cacete::before{
    content: "";
    width: 7px;
    height: 7px;
    background-color: #7e7e7e;
    position: absolute;
    top: 20%;
    right: 0;
}
.dark #logo{
    color: pink;
}