#link{
    align-items: center;
    background-color: rgb(193, 223, 248);
    padding: 10px;
    display: flex;
    padding-top:30px ;
    align-items: center;
}
.sobre{
    background-color: rgb(193, 223, 248);
}
#link a{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-decoration: none;
    letter-spacing: 2px;
    margin-left: 20px;
    
    position: relative;
    font-size: 18px;
    
    
}

#link a::after{
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: black;
    bottom: -30%;
    transition: .2s linear;
    left: 0;
    
}

#link a:hover::after{
    width: 100%;
}
#link span{
    cursor: pointer;
    margin-left: 10px;
    display: block;
}

.ordem{
    display: grid;
}
.caixa{
    position: relative;
    z-index: 2;
    width: 80%;
    margin-bottom: 30px;
    box-shadow: 10px 10px 0px 0px rgba(47, 47, 47, 0.7);
}
.sobre h1{
    color: white;
    margin-bottom: 30px;
    position: relative;
    z-index: 20;
}
.caixa h3{
    font-size: 24px;
}
.caixa p{
    font-size: 18px;
}
.div.flex{
    display: flex;
}
.div.flex .caixa{
    width: 40%;
}
.circulos{
    width: 250px;
    height: 250px;
    background-color: pink;
    border-radius: 50%;
    position: absolute;
    top: 25%;
    left: 2%;
    
}
#meio{
    background-color: rgb(140, 179, 250);
    top: 100%;
    left: 50%;
}
.citacao{
    background-image: url("../image/Artes/NoiteEstrelada_VanGogh.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: white;
    
}
.citacao p{
    color: white;
}
.citacao #circulo{
    background-color: white;
}
.citacao::before{
    width: 100%;
    height: 100%;
    position: absolute;
    content: "";
    background-color: rgba(0, 0, 0, 0.267);
    top: 0;
    left: 0;
    z-index: -100;
    border-radius: 0px 20px 20px 20px;
    
}
.caixa_baixo{
    margin-bottom: 30px;
}
.frase_dia{
    width: 96%;
    position: relative;
    bottom:-60% ;
    background-image: url("../image/Artes/frase_day.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: white;
    box-shadow: none;
    border-radius: 0px;
   


}
.frase_dia p{
    font-size: 20px;
    color: white;
}
.frase_dia #circulo{
    background-color: #C9AAF7;
    width: 60px;
    height: 60px;
    
    
    
}
.frase_dia::before{
    width: 100%;
    height: 100%;
    position: absolute;
    content: "";
    background-color: rgba(0, 0, 0, 0.267);
    top: 0;
    left: 0;
    z-index: -100;
 
    
}
body{
    background-color: rgb(193, 223, 248);
}

/*
.citacao::before{
    width: 300px;
    height: 250px;
    content: "";
    background-image: url("../image/Artes/NoiteEstrelada_VanGogh.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: absolute;
    background-color: black;
    right: -5%;
    top: 45%;
}
/*
.ondas{
    position: relative;
}
.onda{
    width: 100%;
    height: 100px;
    background-image: url('../image/onda.png');
    position: absolute;
    background-size: 1000px 100px;
    bottom: 0;
    animation: anima 5s ease-in-out infinite alternate;
}
@keyframes anima {
    0%{
        transform: translateY(50%);
    }
    100%{
        transform: translateY(100%);
    }
    
}
#onda1{
    z-index: 1000;
    background-position-x: 400;
    opacity: 1;
    background-image: url('../image/onda.png');

}
#onda2{
    z-index: 999;
    background-position-x: 300;
    opacity: 0.7;
    background-image: url('../image/onda.png');

}
#onda3{
    z-index: 998;
    background-position-x: 200;
    opacity: 0.4;
    background-image: url('../image/onda.png');

}
#onda4{
    z-index: 997;
    background-position-x: 100;
    opacity: 0.2;
    background-image: url('../image/onda.png');

}
    */ 
