
.sobre{
    background-color: #c9aaf7;
    width: 100%;
    padding: 80px 0px 100px 0px;
    

}
.sobre h1{
    font-size: 3em;
    padding: 20px;
    font-family: "Kanit", sans-serif;
  font-weight: 900;
  font-style: normal;
    margin: 0;
}
.caixa{
    background-color: white;
    width: 300px;
    margin: auto;
    height: 350px;
    padding: 20px;
    border-radius: 0px 20px 20px 20px;
    
    font-family: Arial, Helvetica, sans-serif;
    justify-content: space-between;
    
}
.caixa h3{
    transition-duration: 1s;
}
.caixa h3:hover{
    color: #AE8FDB;

}
.caixa p{
    color: gray;
    line-height: 25px;
}
#circulo{
    width: 30px;
    height: 30px;
    background-color: black;
    border-radius: 50%;
}
.caixa div{
    justify-content: space-between;
    display: flex;
    align-items: center;
}
.caixa a{
    color: rgb(80, 80, 80);
    font-weight: bold;
    text-decoration: none;
}
.ordem{
    display: flex;
    gap: 2px;
}
.caixa_baixo{
    margin-top: 50px;
}
button{
    
    cursor: pointer;
    font-size: 18px;
    padding: 10px 15px;
    margin-left: 50px;
    margin-top: 30px;
    font-family: "Kanit", sans-serif;
    font-weight: 700;
    font-style: normal;
    border: 2px solid black;
    transform: scale(1.1);
    box-shadow: 4px 5px 0px 0px rgb(47, 47, 47);
    transition-duration: .3s;
}

button:hover{
    box-shadow: none;
    transform: translateX(16px);
}
.sobre.mudar{
    background-color:#332f55;
    color: white;
}
.mudar .caixa{
    border: 3px solid white;
    background-color: transparent;
   
}
.mudar .caixa > p{
    color: white;

}
.mudar .caixa div > a{
    color: white;

}
.mudar #circulo{
    background-color: white;
}
.mudar button{
    background-color: transparent;
    border: 2px solid white;
    color: white;
    box-shadow: 4px 5px 0px 0px rgb(255, 255, 255);

}
.mudar button:hover{
   
        box-shadow: none;
}
