@media (max-width: 768px) {
   header{
      width: 100vw;
   }
   
   #mobila{
      display: none;
   }
   #texto{
      width: 100%;
      color: black;
      background-color: white;
      padding: 0;
      align-items: center;
      text-align: center;
      padding-top: 100px;
   }
   .sobre{
      display:grid;
   }
   .sobre .ordem{
      display: grid;
   }
   .sobre .caixa{
      width: 80%;
      margin-bottom: 50px;
   }
   #contatos{
      width: 40%;
   }
   
}
@media (max-width: 632px){
   #falando_mim{
      padding-left: 10px;
      display: grid;
   }
   #fala{
      max-width: 400px;
      margin-bottom: 20px;

   }
}
@media (max-width: 470px){

   #fala{
      max-width: 300px;
   }
}
@media (max-width: 370px){
   #fala{
      max-width: 200px;
   }
}
@media (max-width: 300px){
  
   #falando_mim div img{
      width: 150px;
   }
   #falando_mim  #chibi{
      width: 150px;
   }
   #falando_mim .risca{
      width: 150px;
   }
   .sobre button{
      margin-left: 25px;
      margin-right: 0;
   }
   .eu{
      display: none;
      
   }
}